<div class="grid grid-cols-4 grid-flow-col-dense h-full md:flex-row items-center justify-items-center p-1 md:p-6 bg-white dark:bg-[var(--color-secondary)]  text-gray-600 dark:text-gray-200">
    <div class="col-span-6 md:col-span-2 flex items-center justify-center">
        <img src="../hot.webp" alt="Logo" class="w-24 h-auto md:w-48" />
    </div>
    <div class="col-span-6 md:col-span-2 flex items-center justify-center">
        <img src="../hot.webp" alt="Logo" class="w-24 h-auto md:w-48" />
    </div>
    <div class="col-span-6 md:col-span-2 flex items-center justify-center">
        <img src="../hot.webp" alt="Logo" class="w-24 h-auto md:w-48" />
    </div>
    <div class="col-span-6 md:col-span-2 flex items-center justify-center">
        <img src="../hot.webp" alt="Logo" class="w-24 h-auto md:w-48" />
    </div>

    
</div>