---
import AnimacionScroll from '../components/AnimacionScroll.jsx';
---
<AnimacionScroll client:visible direction="top">
    <div class="flex flex-col flex-wrap text-center items-center justify-center">
        <h2 class="text-xl md:text-6xl leading-tight mb-4 pt-6">
            Ven te invito a mi fiesta <br> 
            vamos a pasar un rato agradable.<br>
            !NO FALTES!        
        </h2>
    </div>
</AnimacionScroll>