---
import AnimacionScroll from '../components/AnimacionScroll.jsx';
---

<div class="flex flex-col bg-[url('../background.webp')] md:bg-[url('../bg.webp')] bg-center bg-no-repeat bg-contain overflow-hidden h-screen w-screen">
    <AnimacionScroll client:visible direction="bottom">
        <div class="flex flex-col w-full mb-4 items-center justify-center text-center p-4 md:p-8">
            <h1 class="gradient-overlay text-2xl md:text-6xl font-bold mb-2">¡Bienvenido a mi fiesta!</h1>
            <p class="text-base uppercase">¡Estoy emocionado de celebrar este día especial contigo!</p>
        </div>
    </AnimacionScroll>

    <AnimacionScroll client:visible direction="left">
        <div class="">
            <img src="../SebastianHotWheels.webp" alt="SebastianHotWheels" class="relative -ml-[46px] w-[560px] scale-125" />
        </div>
    </AnimacionScroll>

    <AnimacionScroll client:visible direction="right">
        <div class=" items-start justify-start md:items-center md:justify-center mt-[240px]">
            <img src="../car.webp" alt="CAR" class="-right-10 md:right-96 h-72 md:h-96 w-auto -mt-72" />
        </div>
    </AnimacionScroll>

    <AnimacionScroll client:visible direction="bottom">
        <div class="relative items-center justify-center text-center -mt-3 p-8 text-yellow-500">
            <h2 class="gradient-overlay text-2xl md:text-4xl font-bold mb-4 leading-tight ">
                    17 de agosto del 2025 
            </h2>
            
        </div>  
    </AnimacionScroll> 
</div>

<style>

.gradient-overlay {
        background: linear-gradient(
            45deg,
            #ff0800,
            #3b82f6,  
            #fcef01,
            #e01515
        );
        -webkit-background-clip: text;
        background-size: 300% 300%;
        background-clip: text;
        color : transparent;
        text-transform: uppercase;
        animation: gradient 5s ease infinite;
    }
  
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .animate-fade-in {
        animation: fade-in 1s ease-out;
    }

    @keyframes scale-in {
                from {
                    transform: scale(0);
                    opacity: 0;
                }
                to {
                    transform: scale(1);
                    opacity: 1;
                }
            }
            .animate-scale-in {
                animation: scale-in 0.8s ease-out;
            }
</style>


