---
import AnimacionScroll from '../components/AnimacionScroll.jsx';
---
<AnimacionScroll client:visible direction="right">
    <div class="relative items-center justify-center">
        <a href="https://maps.app.goo.gl/6hEZ9jFjSWykRnEP9" target="_blank" class="no-underline">
            <div class="relative items-center justify-center p-6 md:p-8 ">
                <h2 class="text-4xl md:text-8xl font-bold mb-4 text-center">
                    Salon: <br>
                </h2>

                <div class="relative bg-[url('../fondo.webp')] bg-center bg-no-repeat bg-contain mt-10 w-full h-auto items-center "> 
                    <p class="text-center font-serif text-lg ">
                        <strong>Salon "Aun no lo tengo"</strong> 
                        <img src="https://img.icons8.com/?size=100&id=vsJyRh6Kp7fZ&format=png&color=000000" alt="Ubicación" class="w-6 h-6 absolute -right-0.5 md:right-20 transform translate-x-4"/> <br>
                        <strong>Dirección: </strong> Calle Falsa 123, Ciudad Imaginaria
                    </p>
                
                </div>
                
            </div>
        </a>
    </div>
 </AnimacionScroll>

 





